.button {
    background: #3498db;
    width: 100px;
    height: 30px;
    padding: 10px;
    left: 50%;
    top: 10%;
    -webkit-transform: translateX(50%) translateY(50%);
    transform: translateX(50%) translateY(50%);
}
.button p {
    font-family: 'Roboto';
    text-align: center;
    text-transform: uppercase;
    font-size: small;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button:hover {
    cursor: pointer;
}

